.nav-item {
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-item:hover {
    transform: scale(1.1); /* Slightly increase size on hover */
    color: #ff7f50; /* Change color on hover */
}

.cursor-pointer {
    cursor: pointer;
}

.h2{
    display: flex;
    justify-content: space-between;
}
